*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(wallhaven-4285vg.jpg);
    background-color: rgb(63, 61, 61);
}
body section{
    color: white;
}
.fwh-slide{
    height: 90vh;
    background: rgba(59, 31, 31, 0.856);
    margin: 0;
    padding: 35px;
}
.fwh-slide2{
    background: rgba(59, 31, 31, 0.747);
    height: 30vh;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
}

nav{
    width: 100%;
    height: 100px;
    background-color:rgb(0, 0, 0);
}

.box p{
    text-align: justify;
}
.slideshow-container{
    height: 500px;
    width: 950;
    box-shadow: 7px 3px 21px 7px rgba(219,16,16,0.88);
    -webkit-box-shadow: 7px 3px 21px 7px rgba(219,16,16,0.88);
    -moz-box-shadow: 7px 3px 21px 7px rgba(219,16,16,0.88);
}
.slideshow-img img{
    height: 500px;
    width: 423px;overflow: hidden;
}
ul{
    margin-left: 60px;
}

ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a{
    text-decoration: none;  
    font-size: 14px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    display: block;
}
ul li a:hover{
    color: rgb(151, 7, 7);
}
.PC1-img{
    width: 250px;
    border-radius: 15%;
    height: fit-content;
    margin: 0;
    margin-right: 150px;
}
.paragraph{
    text-align: justify;
    width: 350px;
    font-size: 20px;
    font-weight: 20;
    line-height: normal;
    display: inline-block;
}
.image-container{
    white-space: nop;
}
.paragraph p{
    display: inline-block;
    margin-right: auto;

}
.fp{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-align: center;
}
.lists-container {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.lists-container ul {
    display: flex;
    flex-direction: column;
    list-style: none; 
    padding: 0;
    margin: 0;
    width: fit-content;
    color: aliceblue;
}

.lists-container ul li {
    margin-right: 50px;
    line-height: 1.0;
}
.table-containt{
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px;
    border: 2px solid black;
}
.table-containt tr{
    text-align: left;
    font-weight: bold;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}
.table-containt th, .table-contain td{
    padding: 12px 15px;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}
.table-contain tbody tr{
    border-bottom: 1px solid;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
}
.footer{
    background-color: #000000;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer p{
    max-width: 500px;
    padding: 0;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(255, 252, 252);
}
.socials a i{
    font-size: 1,1rem;
    transition: color .4s ease;
    color: wheat;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000000;
    width: 10vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 140px;
    word-spacing: 20px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}